/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 *
 *
 *
 *  Style precedence in CSS (Specificity, Inheritance, Cascade)
 *  -----------------------------------------------------------
 *
 *  Specificity:    a) Inline Style
 *  (a,b,c,d)       b) Id
 *                  c) Class, Pseudo-class, attribute
 *                  d) Element, pseuo-element
 *
 *                          Example: div#sidebar p.bio -> 2 elements, 1 class, 1 id –> (0,1,1,2)
 *
 *
 *  Inheritance:    Elements inherit styles from their parent container.
                    "inherit" let you inherit margin, padding etc. from parent container.
 *
 *
 *  Cascade:        - Site-Author (these files) OVER Site-User(Style settings in browser) OVER Browser Defaults
 *                  - !importance has more weight than normal declarations
 *                  - Equal specificity: last wins
 *
 *                  TIP: Normalizing (see above) takes browser defaults and cross browser issues out of equation!!!
 */

/* =============================================================================
 *   Colors used for web site
 * =============================================================================
    text-black:         #222222
    text-white:         #eeeeee
    text-hover:         #888888
    silber:             #8d8d97, rgba(141,141,151)
    rot:                #f6323e, rgba(246,50,62,1.0)
    background:         #ffffff

  =============================================================================*/


/* =============================================================================
 *   General reset
 * ========================================================================== */
#main-content,
.block-inner,
.pane-inner,
.menu-wrapper,
.branding-elements,
.breadcrumb-wrapper,
.attribution,
.at-panel .rounded-corner,
.block-panels-mini > .block-title,
div.messages,
#content .panel-display,
#content .panel-flexible {
    margin-left: 0;
    margin-right: 0;
}

/*
 * Blocks
 */
.block,
.block > .block-inner,
.block .block-title {
    margin: 0;
}
/*
 * AT regions (normal and nested regions)
 */
.at-panel > .region > .region-inner,
.at-panel .at-panel > .region > .region-inner {
    margin: 0;
}

/* =============================================================================
 *   Base
 * ========================================================================== */

/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */

html {
  background: #fff;
}


body {
  font-family: "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 100%;  /* corresponds to 16px */
}


/* =============================================================================
 *   HTML Elements
 * ========================================================================== */
/* and if we have headings with defined styles we'd also add */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;   /* unitless line-height: element multiply this value with its computed font-sizes */
}

p {
    font-size: 0.875em; /* 0.875em relative to a 16px baseline on the body will result in a 14px font size */
    line-height: 1;     /* unitless line-height: element multiply this value with its computed font-sizes */
    margin: 0 0 1em;
}


pre,
code,
tt,
samp,
kbd,
var {
    font-family: Consolas, Monaco, 'Courier New', Courier, monospace, sans-serif;
}

/* =============================================================================
 *   Wrappers
 * ========================================================================== */
#header,
#menu-bar,
#breadcrumb,
#messages,
#columns,
#comments,
#footer,
.region-leaderboard,
.region-tertiary-content {
    width: 100%;
    margin: 0;
}

/*
 * Top and bottom menus wrappers
 */
.region-leaderboard > .region-inner,
.region-tertiary-content > .region-inner {
    margin: 0 0.625em 1em;
}

/*
 * Header wrapper
 */
#header > .branding-elements {
    margin: 0 0.625em;
}
/*
 * Menu bar wrapper
 */
#menu-bar > nav.menu-bar-wrapper {
    margin: 0 0.625em 0;
}
/*
 * Breadcrumb wrapper
 */
#breadcrumb > nav.breadcrumb-wrapper {
    margin: 0 0.625em 0.5em;
}
/*
 *  message panel
 */
#messages > div.messages {
    margin: 0.625em;
}
/*
 * Main content wrapper
 */
#main-content > .region,
#main-content-header {
    margin: 0.5em 0.625em 0;
}

/*
 * Wraps the main-content-header, the content region and feed-icons. Use this wrapper to style the entire main content column
 */
.region-sidebar-first .region-inner {
    margin-left: 0.625em;
}

/* =============================================================================
 *   AT Regions
 * ========================================================================== */

/*
 *   language switcher, user menu, superior menu, footer
 */

#block-menu-menu-superior-menu,
#block-locale-language,
#block-system-user-menu,
#block-menu-menu-copyright-menu,
#block-menu-menu-impressum-menu {
    display:inline-block;
    float: left;
    margin: 0;
}
#block-menu-menu-copyright-menu {
    float: left;
}
#block-menu-menu-impressum-menu {
    float: right;
}

#block-system-user-menu .block-inner,
#block-menu-menu-impressum-menu .block-inner,
#block-menu-menu-copyright-menu  .block-inner {
    margin-right: 0;
}

.region-leaderboard,
.region-tertiary-content {
    display:inline-block;
    margin: 0;
    font-size: 0.8em;
}

.region-leaderboard ul,
.region-tertiary-content ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

.region-leaderboard ul li,
.region-tertiary-content ul li {
    display:inline-block;
    margin: 0;
    padding: 0 0.625em;
    line-height: 1;
    border-right: 1px solid #222222;
}
.region-tertiary-content ul li:last-child {
    border: none;
    padding-right: 0;
}
.region-tertiary-content ul li:first-child {
    padding-left: 0;
}

.region-leaderboard ul li a,
.region-leaderboard ul li a:visited,
.region-tertiary-content ul li a,
.region-tertiary-content ul li a:visited {
    color: #222222;
}

.region-leaderboard ul li a:hover,
.region-leaderboard ul li a:focus,
.region-tertiary-content ul li a:hover,
.region-tertiary-content ul li a:focus {
    color: #888888;
}


/* =============================================================================
 *   Branding
 * ========================================================================== */

/*
 * Wraps all the branding elements, logo, name and slogan
 */
#branding {
    margin: 0;
}

/*
 * Logo
 */
#logo {
    display: inline-block;
    padding: 0;
    max-width: 280px;
    margin: 0.625em 0;
}

#logo img {
    vertical-align: middle;
}

/*
 * Wrapper for the site name and slogan (hgroup)
 */
#name-and-slogan {
    display: inline-block;
    color: #222222;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2;
    white-space: nowrap;
    margin: 0;
    width: 100%;
}

/*
 * Site name (h1)
 */
#name-and-slogan #site-name {
    position: relative;
    margin: 0;
    font: inherit;
}

#site-name a,
#site-name a:link,
#site-name a:visited {
    text-decoration: none;
    color: #222222;
}

#site-name a:hover,
#site-name a:focus {
    text-decoration: none;
    color: #888888;
}

/*
 * Site slogan (h2)
 */
#name-and-slogan #site-slogan {
    position: relative;
    margin: 0;
    font: inherit;
}



/* =============================================================================
 *   Superfish accordion menu (Mobile)
 * ========================================================================== */
/*
  * Toggle button
  */
div.sf-accordion-toggle {}
a#superfish-1-toggle {
    outline: none;
}
a#superfish-1-toggle:before {
    font-family: FontAwesome;
    content: "\f196";
    display: inline-block;
    padding: 0;
    color: #222;
    font-size: 2em;
}
a#superfish-1-toggle span {
    font-size: 1.5em;
    color: #222;
    padding-left: 1em;
    vertical-align: 0.1em;
}
a#superfish-1-toggle.sf-expanded:before {
    font-family: FontAwesome;
    content: "\f147";
    display: inline-block;
    padding: 0;
    color: #222;
    font-size: 2em;
}

/*
 * Accordion menu
 */
#superfish-1-accordion {}
#superfish-1-accordion > li > ul {}

#superfish-1-accordion li {
    /* all list items */
    display: inline-block;
    list-style: none;
    margin: 0 0 0.125em;
    padding: 0.2em 1.5em;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 0.5em; /* Firefox */
    -webkit-border-radius: 0.5em; /* Safari and Chrome */
    border-radius: 0.5em; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    background-color: #f6323e;
}
#superfish-1-accordion li.active-trail,
#superfish-1-accordion li.sf-depth-2.active-trail {
    background-color: rgba(214,214,214,1.0);
}

#superfish-1-accordion li a,
#superfish-1-accordion li a:link,
#superfish-1-accordion li a:visited {
    /* all list links */
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2.5;
    color: #fff;
    text-align: left;
    text-decoration: none;
    outline: none;
    white-space: nowrap;
}
#superfish-1-accordion li a:hover,
#superfish-1-accordion li a:focus {
    /* all item hovering */
    color: #222222;
    outline: none;
}

/* =============================================================================
 *   Superfish menu icons
 * ========================================================================== */
/*
 * Produkt menu icons
 */
#superfish-1-accordion li.sf-depth-2 {
    margin: 0 0 0.125em;
    width: 100%;
    padding: 0.8em 1.5em;
    background-color: #fff;
}
#superfish-1-accordion li.sf-depth-2 a {
    height: 2em;
    max-width: 100%;
}
#superfish-1-accordion li.sf-depth-2 a.vacuris-ns {
    text-indent: -9999px;
    background: url('../images/Logo_NS.png') no-repeat left center;
    background-size: contain;
}
#superfish-1-accordion li.sf-depth-2 a.vacuris-gfk-r {
    text-indent: -9999px;
    background: url('../images/Logo_GFK_R.png') no-repeat left center;
    background-size: contain;
}
#superfish-1-accordion li.sf-depth-2 a.vacuris-gfk-fw {
    text-indent: -9999px;
    background: url('../images/Logo_GFK_FW.png') no-repeat left center;
    background-size: contain;
}
#superfish-1-accordion li.sf-depth-2 a.vacuris-gfk-w {
    text-indent: -9999px;
    background: url('../images/Logo_GFK_W.png') no-repeat left center;
    background-size: contain;
}

/*
 * Kontakt main menu
 */
#superfish-1-accordion li.sf-depth-1 a#menu-contact-main,
#superfish-1-accordion li.sf-depth-1 a#menu-contact-main:visited {
    text-indent: 1.2em;
    color: #fff;
    background: url('images/phone_white.png') no-repeat left center;
    background-size: 1em;
}
#superfish-1-accordion li.sf-depth-1 a#menu-contact-main:hover,
#superfish-1-accordion li.sf-depth-1 a#menu-contact-main:active,
#superfish-1-accordion li.sf-depth-1 a#menu-contact-main.active {
    text-indent: 1.2em;
    color: #222;
    background: url('images/phone.png') no-repeat left center;
    background-size: 1em;
}



/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */

#breadcrumb {
    display: none;
    margin: 0;
    padding: 0;
}

/* Show the breadcrumb only for reference nodes */
body.node-type-referenz #breadcrumb {
    display: block;
}

/* If the label is set to show in theme settings the label class is added */
#breadcrumb .breadcrumb-label {
    display: inline;
    font-size: 1em;
    padding-right: 0.5em;
}

#breadcrumb .breadcrumb-label:after {
    content: ":";
}

#breadcrumb ol {
    margin: 0;
    padding: 0;
}

#breadcrumb .with-breadcrumb-label ol {
    display: inline;
}

#breadcrumb li {
    display: inline-block;
    list-style: none;
    font-size: 1em;
}

#breadcrumb .crumb-sepreator:before {
    font-family: FontAwesome;
    content: "\f054";
    display: inline-block;
    padding: 0 1em;
    color: #c84288;
    font-size: 1em;
}

#breadcrumb li.crumb:before {
    content: ''
    background: url('images/circle.png') no-repeat left center;
    background-size: 0.5em;
    text-indent: 0.8em;
    color: #222222;
}

#breadcrumb li.crumb a:hover {
    color: #c84288;
}


/* =============================================================================
 *   Pagers
 * ========================================================================== */

ul.pager {
    clear: both;
    margin: 0;
    text-align: center;
}

.item-list ul.pager li {
    margin: 0;
}

ul.pager li {
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: .5em;
}

ul.pager li.pager-current {
    font-weight: 700;
}

.block ul.pager li {
    margin: 0;
}

/*
 * Theme the various states of pager links
 */
ul.pager li {}

ul.pager li a {}

ul.pager li a:link,
ul.pager li a:visited {}

ul.pager li a:active,
ul.pager li a.active {}

ul.pager li a:hover,
ul.pager li a:focus {}

ul.pager li.pager-item {}
ul.pager li.first {}
ul.pager li.last {}
ul.pager li.pager-current {}
ul.pager li.pager-first {}
ul.pager li.pager-previous {}
ul.pager li.pager-next {}
ul.pager li.pager-last {}



/* =============================================================================
 *   Links
 * ========================================================================== */

a,
a:link,
a:visited {
    text-decoration: none;
    color: #222222;
}

a:active,
a.active {
    color: #222222;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #888888;
}

/* =============================================================================
 *   Action links
 * ========================================================================== */

ul.action-links {
    margin: 1.25em 0 0;
    list-style: none;
}

ul.action-links li {}


/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */

/*
 * Feed icons
 */
.feed-icon {}

/*
 * Aggregator feed source
 */
#aggregator .feed-source .feed-icon {
    display: inline;
    float: none;
    margin-right: 0.625em;
}

.feed-details dt,
.feed-details dd {
    display: inline;
    margin: 0;
}

/*
 * Generic styles for the more link
 */
.more-link {}

/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
ul.links {
    margin: 0;
    padding: 0;
}

ul.links.inline {
    display: block;
}

ul.links li {
    display: inline;
    list-style: none;
    padding: 0 0.625em 0 0;
}

/*
 * Search results are an ordered list so reset the margin
 */
.search-results {
    margin: 0;
}

/*
 *  Text areas resizing handlers
 */

.resizable-textarea .grippie {
    display: none;
}


/* =============================================================================
 *   Forms
 * ========================================================================== */

/*
 * Wrapper for a form element (or group of form elements) and its label
 */
#content form {
    overflow: hidden;  /* Prevents floating form buttons to be outside of form */
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
    border: 1px solid #c00;
}

.form-item label {
    display: inline-block;
    margin: 0;
    font-weight: normal;
    color: #222222;
    width: 28%;
    vertical-align: top;
}

.form-item input,
.form-item .form-textarea-wrapper,
.form-item .form-checkboxes {
    display: inline-block;
    outline: none;
    margin: 0;
    width: 70%;
}
.form-item input,
.form-item textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:  border-box;
    box-sizing: border-box;
    border: 1px solid #888;
    background-color: #e4e4e4;
    /*-moz-border-radius: 0.25em; /* Firefox */
    /*-webkit-border-radius: 0.25em; /* Safari and Chrome */
    /*border-radius: 0.25em; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
}
.form-item input:focus,
.form-item textarea:focus {
    box-shadow: 0 0 0.25em #222222;
    outline: none;
}
.form-item .form-checkboxes .form-item.form-type-checkbox {
    display: block;
}
.form-item .form-checkboxes .form-item label {
    overflow: hidden;
    width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 1em;
}
.form-item .form-checkboxes .form-item input[type="checkbox"] {
    width: auto;
}
.form-actions input[type="submit"] {
    float: right;
    margin-right: 2%;
    padding: 0.375em 0.625em;
    background-color: #e4e4e4;
    color: #222222;
    border: 1px solid rgba(196,196,196,1.0);
    -moz-border-radius: 0.25em; /* Firefox */
    -webkit-border-radius: 0.25em; /* Safari and Chrome */
    border-radius: 0.25em; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */

}

/*
 * Buttons used by contrib modules like Media
 */
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
    margin: 0;
}


/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */

/*
 * Wrapper for the list of comments and its titles
 */
#comments {
    overflow: hidden;
    margin: 0;
}

#comments h2 {
    border-bottom: 1px solid rgba(200,66,136,1.0);
}

#comments h2.comment-form,
#comments h2.comment-title {
    margin: 1.25em 0;
    padding-left: 0.625em;
    font-weight: normal;
    color: #222222;

}

/*
 * Wrapper for a single comment
 */
.comment,
#comments .at-panel {
    margin: 1.25em 0;
    padding: 0.625em 0;
    border-top: 1px solid rgba(200,66,136,1.0);
}

.comment:first-of-type,
#comments > .at-panel:first-of-type {
    border-top: none;
}

.comment.odd {}

.comment.even {}


/*
 * Comment title
 */
.comment-title {
    margin: 0;
}

/*
 * Preview of the comment before submitting new or updated comment
 */
#comments .comment-form,
#comments .comment-preview {
    overflow: hidden;  /* Prevents floating buttons to be outside form */
    padding: 0.625em;
}

/*
 * "New" marker for comments that are new for the current user
 */
.new {
    color: #c00;
}

/*
 * Nested comments are indented
 */
.indented {
    margin-left: 2.5em;
}


/* =============================================================================
 *   Messages
 * ========================================================================== */

#messages {
    padding: 1px 0; /* Prevents margin collapsing */
}

/* Left and right margin are set by the global gutter width */
div.messages {
    margin-bottom: 0.625em;
    margin-top: 0.625em;
}

div.messages ul {
    margin-top: 0;
    margin-bottom: 0;
}

div.status {}

div.warning {}

tr.warning {}

div.error,
tr.error {}

.error {}

.warning {}

/* =============================================================================
 *   Tables
 * ========================================================================== */

table {
    margin: 0.625em 0;
    padding: 0;
    width: 100%;
}

table.sticky-header {
    z-index: 10;
}

table,
thead,
tbody,
tr,
th,
td {
    border-color: #ccc;
}

table,
td,
th {
    vertical-align: middle;
}

caption,
th,
td {
    text-align: left;
}

thead tr {
    font-weight: 700;
    background-color: #e5e5e5;

}

td,
th {
    border-bottom: 0;
    margin: 0;
    padding: 0.375em 0.5em;
}

tbody {}

tbody tr {
    border-top: 1px solid #ccc;
}

tr.odd {
    background: #fff;
}

tr.info,
tr.even,
tr:nth-child(2n+2) {
    border-bottom: 0;
    background-color: #f5f5f5;
}

tr.drag {}

tr.drag-previous {}

tr.odd td.active {
    background-color: #eee;
}

tr.even td.active {
    background-color: #ebebeb;
}


/* =============================================================================
 *
 *
 *      jQuery UI (1.10 up) / other widgets starts here...
 *
 *
 * ========================================================================== */

/* =============================================================================
 *   General settings (header, content, border, corner, states, icon)
 * ========================================================================== */
.ui-widget {
    font-family: inherit;
    font-size: 1em;
    margin: 0;
}
.ui-widget-header {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.2;
    color: #222;
    text-decoration: none;
    background: none;
    border: none;
}
.ui-widget-content {
    color: #222222;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

/* corners */
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0.5em;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0.5em;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0;
}

/* states */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    font-weight: 400;
    color: #222;
    border: 1px solid #aaa;
    background: #ddd none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    font-weight: 400;
    color: #222;
    border: 1px solid #888;
    background: #fff none;
}
.ui-widget .ui-state-default a, .ui-widget .ui-state-default a:link, .ui-widget .ui-state-default a:visited {
    color: #808080;
    text-decoration: none;
    outline: none;
}
.ui-widget .ui-state-active a, .ui-widget .ui-state-active a:link, .ui-widget .ui-state-active a:visited {
    color: #222;
    text-decoration: none;
    outline: none;
}
.ui-widget .ui-state-hover a, .ui-widget .ui-state-hover a:hover, .ui-widget .ui-state-hover a:link, .ui-widget .ui-state-hover a:visited {
    color: #222;
    text-decoration: none;
}

/* Icons */
.ui-widget .ui-icon {
    display: none;
}

/* =============================================================================
 *   jQuery UI tabs / Quicktabs Tabs
 * ========================================================================== */
.ui-tabs,
.quicktabs-ui-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid #888;
}

.ui-tabs .ui-tabs-nav li {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    list-style: none;
    margin: 0 ;
    padding: 0;
    max-width: 50%;
    top: 0;
    white-space: nowrap;
    border-bottom-width: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.5em;
    text-decoration: none;
    outline: none;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    padding: 0;
    border-width: 0;
    background: none;
}

/* =============================================================================
 *   jQuery / Quicktabs Accordion
 * ========================================================================== */
/* accordion headers */
.ui-accordion {
    font-size: 1em;
}
.ui-accordion .ui-accordion-header {
    position: relative;
    cursor: pointer;
    display: block;
    margin-top: 0.2em;
    padding: 0.5em 0.5em 0.5em 0.7em;
    min-height: 0;
    background: #ddd none;
}

.ui-accordion .ui-accordion-header.ui-state-active {
    background: #eee none;
}
.ui-accordion .ui-accordion-header.ui-state-default a:before {
    content: '\f054';
    font-family: "fontawesome";
    font-weight: normal;
    padding: 0 0.5em;
    color: #808080;
}
.ui-accordion .ui-accordion-header.ui-state-active a:before,
.ui-accordion .ui-accordion-header.ui-state-hover a:before {
    content: '\f078';
    font-family: "fontawesome";
    font-weight: normal;
    padding: 0 0.35em;
    color: #222;
}


/* =============================================================================
 *
 *
 *      Site specific element styling starts here...
 *
 *
 * ========================================================================== */

/* ==================================================================================
 *   Front page
 * ================================================================================== */
/*
 * Page Header (with admin tabs etc.)
 */
#main-content #main-content-header h1 {
    color: #222222;
    margin: 0;
    font-weight: normal;
}


/* ==================================================================================
 *   General page styling
 * ================================================================================== */
.page-node .ui-tabs-nav {
    margin-left: 0;
}


/* ==================================================================================
 *   Styling Produkt page
 * ================================================================================== */
/*
 * Hide page title
 */
body.node-type-produkt #main-content-header > #page-title {
    display: none;
}

/*
 * node-produkt with field collection tabs
 */
.node-produkt .ui-tabs .ui-tabs-nav li {
    max-width: 20%;
}

.node-produkt .ui-tabs-panel .field-collection-container {
    margin: 0;
    padding: 0;
    border: none;
}
.node-produkt .ui-tabs-panel .field-collection-container .field-item {
    margin: 0;
}

.node-produkt .ui-tabs-panel .field-collection-view {
    margin: 0;
    padding: 0;
    border: none;
}

.node-produkt .ui-tabs-panel .at-panel > .region > .region-inner {
    margin-bottom: 0.5em;
    padding: 0;
    border: 1px solid #888888;
}
.node-produkt .ui-tabs-panel .at-panel > .region-two-33-66-first > .region-inner {
    padding: 1em;
}
.node-produkt .ui-tabs-panel .field-item:first-child .at-panel > .region-two-33-66-first > .region-inner {
    border-top: none;
}
.node-produkt .ui-tabs-panel .at-panel > .region-two-33-66-second > .region-inner .field-name-field-image figure {
    /* prevent image container to have a line height */
    margin: 0;
    padding: 0;
    line-height: 0;
}
.node-produkt .ui-tabs-panel .at-panel > .region-two-33-66-second > .region-inner .field-name-field-image img {
    width: 100%;
}

/* ==================================================================================
 *   Styling Netzwerk page
 * ================================================================================== */
.node-page-netzwerk .at-panel > .region > .region-inner {
    margin-bottom: 0.5em;
    padding: 0;
    border: 1px solid #888888;
}
.node-page-netzwerk .at-panel > .region-two-33-66-first > .region-inner {
    padding: 1em;
}
.node-page-netzwerk .at-panel > .region-two-33-66-second > .region-inner form {
    padding: 0 1em 1em;
}
.node-page-netzwerk .at-panel > .region-two-33-66-second > .region-inner .field-name-field-image figure {
    /* prevent image container to have a line height */
    margin: 0;
    padding: 0;
    line-height: 0;
}
.node-page-netzwerk .at-panel > .region-two-33-66-second > .region-inner .field-name-field-image img {
    width: 100%;
}

/* Tab specific styling */
.ui-tabs-panel .node-page-netzwerk .at-panel > .region-two-33-66-first > .region-inner {
    border-top: none;
}

/* ==================================================================================
 *   Styling Text-Image page
 * ================================================================================== */
.node-page-text-image .at-panel > .region > .region-inner {
    margin-bottom: 0.5em;
    padding: 0;
    border: 1px solid #888888;
}
.node-page-text-image .at-panel > .region-two-33-66-first > .region-inner {
    padding: 1em;
}
.node-page-text-image .at-panel > .region-two-33-66-second > .region-inner .field-name-field-image figure {
    /* prevent image container to have a line height */
    margin: 0;
    padding: 0;
    line-height: 0;
}
.node-page-text-image .at-panel > .region-two-33-66-second > .region-inner .field-name-field-image img {
    width: 100%;
}

/* Tab specific styling */
.ui-tabs-panel .node-page-text-image .at-panel > .region-two-33-66-first > .region-inner {
    border-top: none;
}

/* ==================================================================================
 *   Styling Dokumente page
 * ================================================================================== */
.view-dokumente .views-row {
    margin-bottom: 0.5em;
}

.node-dokumente {
    position: relative;
}

.node-dokumente .group-doku-teaser {
    position: absolute;
    top: 30%;
    width: 40%;
    padding: 1.3% 2em;
    background-color: rgba(214,214,214,1.0);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 1;
}

.node-dokumente .field-name-title h2 {
    margin: 0;
    font-size: 0.8em;
    font-weight: normal;
}

.node-dokumente .field-name-field-produkt-info {
    font-size: 0.8em;
    font-weight: lighter;
    line-height: 1.1;
}

/* =============================================================================
 *   Fields (classes defined and set in Display Suite)
 * ========================================================================== */

/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
.field-label {
    font-size: 1em;
    font-weight: 400;
    font-family: inherit;
    line-height: inherit;
    color: #222222;
    margin: 0;
}

/*
 * WYSIWYG text area with enbedded media
 */
.field-name-body embed,
.field-name-body video,
.field-name-body iframe {
    width: 100%;
}

.google_map_field_display {
    height: 30em;
    width: 100%;
}
.field-type-google-map-field .field-item {
    margin: 0;
}


/* =============================================================================
 *
 *
 *      Administrator mode specific element styling starts here...
 *
 *
 * ========================================================================== */

/*
 * Admin menu overrides
 */
#admin-menu {
    margin: 0;
    padding: 0;
}

/*
 * Devel Module
 */
.dev-query {
    background: #eee;
    padding: 2em;
}

/*
 * Styleguide module tweaks
 */
#styleguide-header {
    padding: 0 0.625em;
}

#styleguide-header .item-list {
    font-family: inherit;
    margin: 0 1.25em 1.25em 0;
    min-height: 260px;
    width: auto;
}

#tasks {
    margin-bottom: 1em;
}

/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

ul.primary {
    border-bottom-color: #ccc;
    margin: 1.25em 0;
    padding: 0 0 0 5px;
}

ul.primary li {
    display: block;
    float: left;
    margin: 0 1px -1px;
}

ul.primary li a {
    background-color: #f5f5f5;
    border-color: #ccc;
    margin-right: 1px;
    padding: 0 0.625em;
    display: block;
    float: left;
    height: 1.5em;
    line-height: 1.5em;
}

ul.primary li a:hover,
ul.primary li a:focus {
    background-color: #eee;
    border-color: #ccc;
}

ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
    background-color: #fff;
    border-bottom-color: #fff;
}

ul.secondary {
    border-bottom: 1px solid #ccc;
    margin: 1em 0 0;
    padding: 0 .3em 1em;
}

ul.secondary li {
    border-right: 0;
    list-style: none;
    padding: 0 0.625em 0 0;
}

ul.secondary li a {}

ul.secondary li a:hover,
ul.secondary li a.active {
    border-bottom: none;
    text-decoration: underline;
}

/* =============================================================================
 *    Unpublished nodes
 * ========================================================================== */

.node-unpublished,
.comment-unpublished {}

.node-unpublished,
.comment-unpublished {}

.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
    color: pink;
    color: rgba(239, 170, 170, 0.4);
    font-family: Impact,"Arial Narrow",Helvetica,sans-serif;
    font-size: 4em;
    font-weight: bold;
    height: 0;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    overflow: visible;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
}

/*
 * Otherwise these elements will appear below the "Unpublished" text
 */
.lt-ie8 {}

.lt-ie8 .node-unpublished > *,
.lt-ie8 .comment-unpublished > * {
    position: relative;
}


/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */

.maintenance-page {}
.maintenance-page .container {
    padding: 2.5em 0;
}

.maintenance-page #site-name,
.maintenance-page #page-title {
    margin: 0;
}

.db-offline {}

.db-offline .container {
    margin: 0 auto;
    padding: 2.5em 0;
    width: 100%;
    max-width: 960px;
}

.db-offline div.messages {
    margin: 1.25em 0 0;
}

.db-offline #content {
    padding: 1.25em 0;
}


